doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Digi Dinos - Top IT labor in Vietnam
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    // WEB FONTS
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Pacifico&display=swap', rel='stylesheet')
    // STYLESHEET
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/custom.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //
      if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    header.main_header
      .container
        .row.align-items-center
          .col-4.col_btn_menu
            button.btn_menu.toggle_offcanvas
              span.inner_btn
                span.ic
                  span
                  span
                  span
          .col-4.col-lg-2.col_logo
            a.over.logo(href='./')
              img(src='images/logo_02.png', alt='Digi Dinos - Top IT labor in Vietnam')
              img.img_scroll(src='images/logo.png', alt='Digi Dinos - Top IT labor in Vietnam')
          .col-4.col-lg-10.col_nav
            nav.main_nav
              ul
                li.active
                  a.nav-link(href='index.php#top') HOME
                li
                  a.nav-link(href='index.php#con_services') SERVICES
                li
                  a.nav-link(href='index.php#con_portfolio') PORTFOLIO
                li
                  a.nav-link(href='index.php#con_cooperate') COOPERATE
                li
                  a.nav-link(href='index.php#con_about') ABOUT
                li
                  a.nav-link(href='index.php#con_latest_blogs') BLOG
                li
                  a.nav-link(href='index.php#con_contact') CONTACT
                li
                  a.nav-link(href='./recruit') RECRUIT
              .slide_nav
                .circle
            .dropdown.box_lang
              button.button(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                img(src='images/ic_flag_en.png', width='28', alt='ic_flag_en')
                i.fas.fa-caret-down
              ul.dropdown-menu.dropdown-menu-right
                li
                  button
                    img(src='images/ic_flag_jp.png', width='28', alt='ic_flag_jp')
                li
                  button
                    img(src='images/ic_flag_vn.png', width='28', alt='ic_flag_vn')
    // .main-header
    .offcanvas
      .oc_inner
        .oc_header
          button.btn_close.over.toggle_offcanvas
            i.fas.fa-times
        .oc_body
          nav.main_nav
            ul
              li.active
                a.toggle_offcanvas(href='index.php#top') HOME
              li
                a.toggle_offcanvas(href='index.php#con_services') SERVICES
              li
                a.toggle_offcanvas(href='index.php#con_portfolio') PORTFOLIO
              li
                a.toggle_offcanvas(href='index.php#con_cooperate') COOPERATE
              li
                a.toggle_offcanvas(href='index.php#con_about') ABOUT
              li
                a.toggle_offcanvas(href='index.php#con_latest_blogs') BLOG
              li
                a.toggle_offcanvas(href='index.php#con_contact') CONTACT
              li
                a(href='./recruit') RECRUIT
    // /.offcanvas menu
    section#top.con_main_banner
      .box_title
        .container
          .inner_container
            h2.page_title Blog List
            .page_breadcrumb.breadcrumb_common
              ul
                li.home
                  a(href='index.php')
                    i.fas.fa-home
                li Blog List
    // /.con_main_banner
    main.main_body
      .container
        .row
          .col-12.col-lg-9.main_content
            .con_blog_list.blog_list_common
              .list
                article.post
                  .post_thumb
                    a.thumb(href='blog-detail.php')
                      img(src='images/img_post_01.jpg', alt='img_post_01')
                      span.border_01
                      span.border_02
                  .post_detail
                    .post_date
                      .day 30
                      .month OTC
                    h4.post_title
                      a(href='blog-detail.php') Lorem ipsum dolor sit amet consectetur
                    ul.post_meta
                      li
                        span.text
                          i.fas.fa-user
                          |  David Murphy
                      li
                        a.text(href='#')
                          i.far.fa-comments
                          |  388 Comments
                      li
                        span.text
                          i.far.fa-eye
                          |  38 Views
                    .post_content
                      p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
                    .post_readmore
                      a.btn_border_blue.button(href='blog-detail.php')
                        span Read More
                article.post
                  .post_thumb
                    a.thumb(href='blog-detail.php')
                      img(src='images/img_post_02.jpg', alt='img_post_02')
                      span.border_01
                      span.border_02
                  .post_detail
                    .post_date
                      .day 30
                      .month OTC
                    h4.post_title
                      a(href='blog-detail.php') Lorem ipsum dolor sit amet consectetur
                    ul.post_meta
                      li
                        span.text
                          i.fas.fa-user
                          |  David Murphy
                      li
                        a.text(href='#')
                          i.far.fa-comments
                          |  388 Comments
                      li
                        span.text
                          i.far.fa-eye
                          |  38 Views
                    .post_content
                      p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
                    .post_readmore
                      a.btn_border_blue.button(href='blog-detail.php')
                        span Read More
                article.post
                  .post_thumb
                    a.thumb(href='blog-detail.php')
                      img(src='images/img_post_03.jpg', alt='img_post_03')
                      span.border_01
                      span.border_02
                  .post_detail
                    .post_date
                      .day 30
                      .month OTC
                    h4.post_title
                      a(href='blog-detail.php') Lorem ipsum dolor sit amet consectetur
                    ul.post_meta
                      li
                        span.text
                          i.fas.fa-user
                          |  David Murphy
                      li
                        a.text(href='#')
                          i.far.fa-comments
                          |  388 Comments
                      li
                        span.text
                          i.far.fa-eye
                          |  38 Views
                    .post_content
                      p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
                    .post_readmore
                      a.btn_border_blue.button(href='blog-detail.php')
                        span Read More
              .pagination_common
                ul
                  li.first
                    a(href='#')
                      i.fa.fa-angle-double-left
                  li.prev
                    a(href='#')
                      i.fa.fa-angle-left
                  li
                    a(href='#') 1
                  li
                    a(href='#') 2
                  li.active
                    a 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
                  li.next
                    a(href='#')
                      i.fa.fa-angle-right
                  li.last
                    a(href='#')
                      i.fa.fa-angle-double-right
          .col-12.col-lg-3.main_sidebar
            .sidebar.sidebar_category
              .title_sidebar Category
              ul.box_list
                li
                  .txt_title
                    a(href='#') Lorem ipsum
                  .txt_number 86
                li.active
                  .txt_title
                    a(href='#') Lorem ipsum
                  .txt_number 86
                li
                  .txt_title
                    a(href='#') Lorem ipsum
                  .txt_number 86
                li
                  .txt_title
                    a(href='#') Lorem ipsum
                  .txt_number 86
                li
                  .txt_title
                    a(href='#') Lorem ipsum
                  .txt_number 86
                li
                  .txt_title
                    a(href='#') Lorem ipsum
                  .txt_number 86
            .sidebar.sidebar_tags
              .title_sidebar Tags Cloud
              ul.box_list
                li
                  a.button.btn_border_gray(href='#')
                    span Web app
                li
                  a.button.btn_border_gray(href='#')
                    span IoT
                li
                  a.button.btn_border_gray(href='#')
                    span Software
                li
                  a.button.btn_border_gray(href='#')
                    span Web app
                li
                  a.button.btn_border_gray(href='#')
                    span AI
                li
                  a.button.btn_border_gray(href='#')
                    span Lorem
                li
                  a.button.btn_border_gray(href='#')
                    span Lorem
                li
                  a.button.btn_border_gray(href='#')
                    span Lorem
            .sidebar.sidebar_recent_blogs
              .title_sidebar Recent posts
              .box_list
                article.post
                  a.box_item(href='blog-detail.php')
                    .post_thumb
                      .img_thumb(style='background-image: url(images/img_post_01.jpg)')
                    .post_detail
                      h4.post_title Lorem ipsum, dolor sit amet
                      ul.post_meta
                        li
                          span.text
                            i.far.fa-calendar-alt
                            |  10 Jan, 2020
                        li
                          span.text
                            i.far.fa-eye
                            |  38
                article.post
                  a.box_item(href='blog-detail.php')
                    .post_thumb
                      .img_thumb(style='background-image: url(images/img_post_01.jpg)')
                    .post_detail
                      h4.post_title Lorem ipsum, dolor sit amet
                      ul.post_meta
                        li
                          span.text
                            i.far.fa-calendar-alt
                            |  10 Jan, 2020
                        li
                          span.text
                            i.far.fa-eye
                            |  38
                article.post
                  a.box_item(href='blog-detail.php')
                    .post_thumb
                      .img_thumb(style='background-image: url(images/img_post_01.jpg)')
                    .post_detail
                      h4.post_title Lorem ipsum, dolor sit amet
                      ul.post_meta
                        li
                          span.text
                            i.far.fa-calendar-alt
                            |  10 Jan, 2020
                        li
                          span.text
                            i.far.fa-eye
                            |  38
    // /.main_body
    footer.main_footer
      .box_main
        .container
          .row
            .col-12.col-md-4.footer_col
              .footer_title About
              .logo
                a.over.logo(href='./')
                  img(src='images/logo_03.png', width='90', alt='Digi Dinos - Top IT labor in Vietnam')
              .box_intro
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              .box_social.social_common
                ul
                  li
                    a.btn_facebook(href='https://www.facebook.com/digidinosvn/', target='_blank')
                      i.fab.fa-facebook-f
                      span.tooltip Faccebook
                  li
                    a.btn_twitter(href='https://www.instagram.com/', target='_blank')
                      i.fab.fa-instagram
                      span.tooltip Instagram
                  li
                    a.btn_gmail(href='mailto:contact@digidinos.com', target='_blank')
                      i.fas.fa-envelope
                      span.tooltip Mail
            .col-12.col-md-4.footer_col
              .footer_title Address
              .box_map
                iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1862.0503297219077!2d105.794886!3d21.028658!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x832d1c2b3e67d432!2zROKAmU9mZmljZQ!5e0!3m2!1sen!2s!4v1578569917024!5m2!1sen!2s', width='600', height='450', style='border:0;', allowfullscreen='')
              .box_address
                a(href='https://goo.gl/maps/dGYadCUw2HpUtDwV7', target='_blank')
                  img(src='images/ic_map_marker.png', alt='ic_map_marker')
                  |               Room No. 602, D'office Building, Thanh Thai, Cau Giay, Hanoi, Vietnam
            .col-12.col-md-4.footer_col
              .footer_title Gallery
              .box_gallery
                ul
                  li
                    a.show_img_popup(href='images/img_gallery_01.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_01-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_02.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_02-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_03.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_03-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_01.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_01-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_02.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_02-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_03.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_03-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_01.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_01-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_02.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_02-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_03.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_03-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_03.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_03-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_03.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_03-thumb.jpg)')
                  li
                    a.show_img_popup(href='images/img_gallery_03.jpg', title='Together, We make the big change.')
                      .img_thumb(style='background-image: url(images/img_gallery_03-thumb.jpg)')
      .box_copyright
        .container
          p#copyright Copyright © 2018 Digi Dinos. All rights reserved.
    // /.main_footer
    // JAVASCRIPT
    script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
    script.
      var wow = new WOW({
      // offset: 0,
      // resetAnimation: false
      callback: function(box) {
      // console.log(box);
      // box.addClass('zzzzz');
      }
      });
      wow.init();
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
    script(src='js/main.js')
