doctype html
html(lang='en')
  head
    title Jade
    link(rel='stylesheet', type='text/css', href='css/index.css')
    link(rel='stylesheet', type='text/css', href='css/blog-list.css')
    script(type='text/javascript').
      const foo = true;
      let bar = function() {};
      if (foo) {
      bar(1 + 5)
      }
  |
  body
    h1 Jade - node template engine
    #container.col
      p You are amazing

      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
      div
        a(href="google.com") lorem
